.DS_Store
__pycache__/
models/
tmp_audio/
asd.py
test-*
.venv/
*.pem
visits.csv
/service_error.log
/service.log
/.vs
/TranscriptionClient/bin/Debug/net9.0-windows
/TranscriptionClient/obj/Debug/net9.0-windows
/TranscriptionClient/obj/Release/net9.0-windows
/TranscriptionClient/obj
/TranscriptionClient/.vs
/TranscriptionClient/bin/Release/net9.0-windows
/TranscriptionClient/Properties/PublishProfiles/FolderProfile.pubxml.user
/TranscriptionClient/TranscriptionClient.csproj.user
